<h1>Welcome to the {{ title }}</h1> 
<!-- the {{ title }} refers to index.js in the router function 
where title is labeled 'Feedback Application' line 9-->

<p>A web app by {{ author }}</p>

<p>You loaded this page at {{ timePageLoadedAt }} </p>

<p><a href="/feedback-form">Submit Feedback Here</a></p>